%input{	
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	background: #fff;
	box-shadow: none;
	outline: none;
	font-family: $fontFamily;
}


.form{
	position: relative;
	legend{
		@extend .subheading;
	}
	&field{
		margin-bottom: 7px; 
		position: relative;
		@extend %last;
	}
	label{
		font-size: $bodyFontSize; 
		display: block;
		margin-bottom: 15px;
	}
	input,select{
		@extend %input;
	    height: 41px;
		line-height: 39px;
		font-size: $bodyFontSize;
		font-family: $fontFamily;
		color: $baseColor;
		outline: none;
	}
	&.error{
	    border-color: #E03F3F;
	}
	&-icon{
		position: absolute;
		border-right: 1px solid #e5e5e5;
		width: 37px; 
		top: 7px;
		bottom: 7px;
		text-align: center;
		line-height: 25px;
		padding-left: 4px;
	}
	input[type="submit"]{
		@extend .button;
	}
}


.select2-container--default .select2-container--open{	
	.select2-selection--single{	
		.select2-selection__arrow{
			transform: rotate(180deg);
			top: 7px;
		}
	}
}
.select2-container--default .select2-selection--single{
    border: 1px solid #eeeeee;
	.select2-selection__arrow{
		@extend .sprite;
		@extend .icon-arrow-down;
		top: 8px;
		b{
			display: none;
		}
	}
	&:hover{
		.select2-selection__rendered{
			//border-color: transparent;
		}
	}
	color: $ctextLigthColor;
}

.location-select{
	.select2-container--default{
		border: 0;		
		color: $baseColor;
		outline: none;
		.select2-selection--single{
			height: auto;
			outline: none;
			border: 0;	
		}
		.select2-selection__rendered{	
			@extend %inline-middle;
			border-bottom: 1px dotted $baseColor;
			line-height: 14px;
			padding: 0;
		}
	}
} 

.select2-dropdown{
    border: 1px solid #eeeeee;
}

.select-field{
	.select2-container--default .select2-selection--single .select2-selection__arrow{
	    right: 10px;
    	top: 10px;
	}
}

.select2-search{
	display: none;
}