/* base */
$fontFamily: 'PT Sans', sans-serif;
$titleSize: 1.2em;
$bodyFontSize: 14px;
$container: 960px;
$containerVal: 930;
$minContainer : 320px;

/* buttons */
$buttonHeight: 40px;
$buttonColor: rgb(138, 0, 78);
$buttonColorHover: #a4025e;
$buttonText: #fff;

/* Colors */
$baseColor: #333333; 
$baseColorHover: #333333; 
$ctextColor: #333333; 
$ctextLigthColor: #767676;
$footerLink: #969696;

$bodyBackground: #fff;
$headfooterColor: #333333;
$headlightColor: #404040;
$labelColor: #e1004a; 
$labelDisableColor: #606060;
$buttonLightColor: #ff0054;
$buttonDarkColor: #e1004a;