<div class="drop_basket_wrap">
  <div class="container">
    <div class="title">Корзина 
      <a href="#" class="clean_basket">
        <span aria-hidden="true" class="sprite icon-remove-active"></span>
        <small>Очистить корзину</small>
      </a>
    </div>
    <div class="basket_table">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Наименование</th>
            <th>Цена</th>
            <th class="text-center">Количество</th>
            <th>Сумма</th>
            <th></th>
          </tr>
        </thead>  
        <tbody>
          <tr>
            <td><a href="#" class="basket_table_img"><img src="img/notebook.png" alt=""></a></td>
            <td>
                <a href="#">Ноутбук Apple MacBook Pro, MD101RU/A</a>
                <a href="#" class="compare_link"><span class="sprite icon-compare-active"></span><em>К сравнению</em></a>
            </td>
            <td>
              <i>Цена</i>
              <strong>64 990 руб.</strong>
            </td>
            <td  class="text-center">
                <i>Кол-во</i>
               <div class="spinner">
                    <button class="btn btn-default extremum" type="button" tabindex="0"><i class="sprite icon-arrow-down"></i></button> 
                  <input type="text" class="form-control" value="0" tabindex="0">
                    <button class="btn btn-default" type="button" tabindex="0"><i class="sprite icon-arrow-up"></i></button>
                </div>
            </td>
            <td>
              <i>Сумма</i>
              <strong>64 990 руб.</strong>
            </td>
            <td>
              <a href="#" class="clean_basket">
                <span aria-hidden="true" class="sprite icon-remove-active"></span>
                <small>Удалить <i>из корзины</i></small>
              </a>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="basket_table_img"><img src="img/notebook.png" alt=""></a></td>
            <td>
                <a href="#">Ноутбук Apple MacBook Pro, MD101RU/A</a>
                <a href="#" class="compare_link"><span class="sprite icon-compare-active"></span><em>К сравнению</em></a>
            </td>
            <td>
              <i>Цена</i>
              <strong>64 990 руб.</strong>
            </td>
            <td  class="text-center">
                <i>Кол-во</i>
               <div class="spinner">
                    <button class="btn btn-default extremum" type="button" tabindex="0"><i class="sprite icon-arrow-down"></i></button> 
                  <input type="text" class="form-control" value="0" tabindex="0">
                    <button class="btn btn-default" type="button" tabindex="0"><i class="sprite icon-arrow-up"></i></button>
                </div>
            </td>
            <td>
              <i>Сумма</i>
              <strong>64 990 руб.</strong>
            </td>
            <td>
              <a href="#" class="clean_basket">
                <span aria-hidden="true" class="sprite icon-remove-active"></span>
                <small>Удалить <i>из корзины</i></small>
              </a>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="basket_table_img"><img src="img/notebook.png" alt=""></a></td>
            <td>
                <a href="#">Ноутбук Apple MacBook Pro, MD101RU/A</a>
                <a href="#" class="compare_link"><span class="sprite icon-compare-active"></span><em>К сравнению</em></a>
            </td>
            <td>
              <i>Цена</i>
              <strong>64 990 руб.</strong>
            </td>
            <td  class="text-center">
                <i>Кол-во</i>
               <div class="spinner">
                    <button class="btn btn-default extremum" type="button" tabindex="0"><i class="sprite icon-arrow-down"></i></button> 
                  <input type="text" class="form-control" value="0" tabindex="0">
                    <button class="btn btn-default" type="button" tabindex="0"><i class="sprite icon-arrow-up"></i></button>
                </div>
            </td>
            <td>
              <i>Сумма</i>
              <strong>64 990 руб.</strong>
            </td>
            <td>
              <a href="#" class="clean_basket">
                <span aria-hidden="true" class="sprite icon-remove-active"></span>
                <small>Удалить <i>из корзины</i></small>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="all_price_td">
              <div class="all_price">
                <small>Итого</small>
                <strong>140 960</strong> <b>руб.</b>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="continue">
                <a href="#" class="button">Продолжить покупки</a>
                <small>Вернуться к выбору товаров</small>
              </div>
            </td>
            <td colspan="2">
              <div class="continue">
                <a href="#" class="button">Перейти в корзину</a>
                <small>Полноценное оформление заказа</small>
              </div>
            </td>
            <td colspan="2">
              <div class="order_products">
               <a href="#" class="button">Оформить заказ</a>
               <small>Вам потребуется указать только имя и номер телефона</small>
              </div>
            </td>
          </tr>
        </tbody> 
      </table>  
    </div>
  </div>
</div>