  <div class="filter_wrap">
    <h6>Фильтр товаров</h6>
    <div class="filter_block">
      <div class="filter_trigger">
        <strong>Розничная цена, руб.</strong>
      </div>
      <div class="filter_content">
        <div class="nouislider">
          <input type="text" id="input-number_first">
          <input type="text" id="input-number_last">
          <div class="nouislider_data">
            <span>8 700</span>
            <span>50 645</span>
            <span>109 990</span>
          </div>
          <div id="html5" class="nouislider_inner"></div>
        </div>  
      </div>  
    </div>

    <div class="filter_block">
      <div class="filter_trigger">
        <strong>Бренды</strong>
      </div>
      <div class="filter_content">
          <div class="filter_list">
            <ul>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Apple <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Lenovo <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>HP <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Asus  <small>(13)</small></label></li>
              <li><span class="show_more">Показать еще</span>
                <ul>
                  <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Apple <small>(13)</small></label></li>
                  <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Lenovo <small>(13)</small></label></li>
                  <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>HP <small>(13)</small></label></li>
                  <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Asus  <small>(13)</small></label></li>
                </ul>
              </li>
            </ul>
          </div>
      </div>  
    </div>
    
    <div class="filter_block">
      <div class="filter_trigger">
        <strong>Спец. предложения</strong>
      </div>
      <div class="filter_content">
          <div class="filter_list">
            <ul>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Apple <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Lenovo <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>HP <small>(13)</small></label></li>
            </ul>
          </div>
      </div>  
    </div>

    <div class="filter_block">
      <div class="filter_trigger">
        <strong>Цвет</strong>
      </div>
      <div class="filter_content">
          <div class="filter_list">
            <ul>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Черный  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Белый  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Серый  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Коричневый  <small>(13)</small></label></li>
              <li><span class="show_more">Показать еще</span>
                <ul>
                   <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Черный  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Белый  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Серый  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Коричневый  <small>(13)</small></label></li>
                </ul>
              </li>
            </ul>
          </div>
      </div>  
    </div>

    <div class="filter_block">
      <div class="filter_trigger">
        <strong>Корпус</strong>
      </div>
      <div class="filter_content">
          <div class="filter_list">
            <ul>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Черный  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Белый  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Серый  <small>(13)</small></label></li>
              <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Коричневый  <small>(13)</small></label></li>
              <li><span class="show_more">Показать еще</span>
                <ul>
                   <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Черный  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Белый  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Серый  <small>(13)</small></label></li>
                    <li><label><span class="styled_checkbox"><input type="checkbox"><i></i></span>Коричневый  <small>(13)</small></label></li>
                </ul>
              </li>
            </ul>
          </div>
      </div>  
    </div>
    <div class="filter_buttons">
      <button class="button">Показать</button>
      <button class="btn-reset">Сбросить</button>
    </div>
  </div>