    <div class="footer_placeholder"></div>
    <footer class="footer">
	    <div class="footer-main">
	        <div class="container"> 
	        	<div class="row">
	        		<div class="col-sm-3">
	        			<ul>
	        				<li><a href="#">Помощь покупателю</a></li>
	        				<li><a href="#">Доставка</a></li>
	        				<li><a href="#">Оплата</a></li>
	        				<li><a href="#">Самовывоз</a></li>
	        			</ul>
	        		</div>
	        		<div class="col-sm-3">
	        			<ul>
	        				<li><a href="#">Гарантии и возврат</a></li>
	        				<li><a href="#">Правила работы</a></li>
	        				<li><a href="#">Как сделать заказ</a></li>
	        				<li><a href="#">Бонусная программа</a></li>
	        			</ul>
	        		</div>
	        		<div class="col-sm-3">
	        			<ul>
	        				<li><a href="#">Бонусная программа</a></li>
	        				<li><a href="#">Подарочные карты</a></li>
	        				<li><a href="#">Гарантийное обслуживание</a></li>
	        				<li><a href="#">Юридическая и финансовая информация</a></li>
	        			</ul>
	        		</div>
	        		<div class="col-sm-3">
	        			<ul>
	        				<li><a href="#">О нас</a></li>
	        				<li><a href="#">Прайс-лист</a></li>
	        				<li><a href="#">Каталог</a></li>
	        				<li><a href="#">Новости</a></li>
	        			</ul>
	        		</div>
	        	</div>
	        </div>
        </div>
    </footer>  
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html> 