<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />
    <title>Site title</title> 
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" type="text/css" href="css/slick.css" media="all" />   
    <link rel="stylesheet" type="text/css" href="css/bower.css" media="all" />  
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/develop-style.css" media="all" />
</head>
<body>  
@@include('_modals.html')
