    <header class="header">
        <div class="header-top">
          <div class="container">
         		<div class="row">
         			<div class="col-lg-3 col-sm-4 hidden-xs">    
         				<div class="header-phone"> 
         					<p>8 (812) <b>123-45-67</b></p>
         					<a href="#" data-toggle="modal" data-target="#myModal2">Заказать обратный звонок</a>
         				</div>
         			</div>
              <div class="col-xs-3 visible-xs text-center xs-clear"> 
                  <div class="navbar-toggle">
                      <span class="icon-container">
                          <span class="line line01"></span>
                          <span class="line line02"></span>
                          <span class="line line03"></span>
                          <span class="line line04"></span>
                      </span>
                  </div>
                  <span class="vfix"></span>
              </div>
         			<div class="col-lg-9 col-sm-8 col-xs-9 xs-clear"> 
                  <div class="header-detail basket col-xs-4">
                    <a href="#" class="header-detail-inner">
                      <i class="sprite icon-basket-active"></i> 
                      <span class="header-detail-title">Корзина</span> 
                      <span class="header-detail-count">3</span>
                      <span class="header-detail-title">39 790 руб.</span>
                    </a> 
                  </div>  
                  <div class="header-detail postpone col-xs-4">
                    <a href="#" class="header-detail-inner">
                      <i class="sprite icon-heart-active-big"></i> 
                      <span class="header-detail-title">Отложено</span> 
                      <span class="header-detail-count">2</span>
                      <span class="header-detail-title">9 890 руб.</span> 
                    </a>
                  </div>
                  <div class="header-detail compare disable col-xs-4">
                    <div class="header-detail-inner">
                      <i class="sprite icon-compare-active"></i> 
                      <span class="header-detail-title">Сравнение</span> 
                      <span class="header-detail-count">0</span>
                    </div>
                  </div> 
         			</div>
         		</div>
            </div>
        </div>
        <div class="header-main">
          <div class="container">
          	<div class="row">
          		<div class="col-sm-3">
          			<a href="/" class="header-logo"><img src="img/logo.png" alt=""></a>
                <a href="#" class="menu-toggle"></a>
                @@include('_navigator.html')
          		</div> 
          		<div class="col-sm-9"> 
                    <div class="header-setting  hidden-xs">                     
                      <div class="pull-left">
                        <div class="location-select">
                          <i class="sprite icon-map"></i>
                          <select>
                            <option value="Санкт-Петербург">Санкт-Петербург</option>
                            <option value="Москва">Москва</option>
                          </select>
                        </div>
                      </div>
                      <div class="pull-right">
                        <div class="header-authorization"><i class="sprite icon-key"></i> <a href="#" data-toggle="modal" data-target="#myModal3">Авторизация</a> / <a href="#"  data-toggle="modal" data-target="#myModal">Регистрация</a></div>
                      </div>
                    </div>
                    <div class="header-menu">
                      @@include('_header-menu.html')
                    </div>
                    <div class="header-search form">
                      <form action="">
                        <div class="header-search-field"><i class="sprite icon-search"></i><input type="text" placeholder="Поиск по сайту"><input type="submit" value="Искать" class="button"></div>
                      </form>                    
                    </div>
              </div>
          	</div>
          </div>
        </div>
    </header>
  