<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6>Регистрация</h6>
        <form action="#">
          <div>
            <input type="text" placeholder='Имя'>
          </div>
          <div>
            <input type="text" placeholder='Фамилия'>
          </div>
          <div>
            <input type="text" placeholder='Телефон'>
          </div>
          <div>
            <input type="text" placeholder='E-mail'>
          </div>
          <div>
            <input type="password" placeholder='Пароль'>
          </div>
          <div>
            <input type="password" placeholder='Пароль еще раз'>
          </div>
          <div>
            <button class="button">Зарегистрироваться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>