<div class="navigator">
  <div class="button button-block navigator-toggle">
    Каталог товаров <i class="sprite icon-burger"></i>
    <ul>
      <li><a href="#"><span>Товары для дома, сада и ремонта</span></a>@@include('_navigator_sub.html')</li>      
      <li><a href="#"><span>Телевизоры и видео</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Компьютеры, ноутбуки и планшеты</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Телефоны и связь</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Техника для кухни</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Техника для дома</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Аудиотехника</span></a>@@include('_navigator_sub.html')</li>
      <li>
        <a href="#"><span>Фото и видео</span></a>
        <ul>
          <li><a href="#"><span>Зеркальные фотоаппараты</span></a></li>
          <li><a href="#"><span>Цифровые фотоаппараты</span></a></li>
          <li><a href="#"><span>Цифровые фотоаппарты со сменной оптикой</span></a></li>
          <li><a href="#"><span>Цифровые видеокамеры</span></a></li>
          <li><a href="#"><span>Экшн-камеры</span></a></li>
          <li>
            <a href="#"><span>Объективы, оптика, вспышки</span></a>
            <ul>
              <li><a href="#"><span>Объективы</span></a></li>
              <li><a href="#"><span>Вспышки</span></a></li>
              <li><a href="#"><span>Бинокли</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span>Цифровые фоторамки</span></a></li>
          <li><a href="#"><span>Карты памяти</span></a></li>
          <li>
            <a href="#"><span>Системы видеонаблюдения</span></a>
            <ul>
              <li><a href="#"><span>Готовые комплекты</span></a></li>
              <li><a href="#"><span>IP-камеры</span></a></li>
              <li><a href="#"><span>Муляжи</span></a></li>
              <li><a href="#"><span>Рекордеры</span></a></li>
              <li><a href="#"><span>Дверные звонки</span></a></li>
              <li><a href="#"><span>Аксессуары</span></a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span>Аксессуары</span></a>
            <ul>
              <li><a href="#"><span>Информационные носители</span></a></li>
              <li><a href="#"><span>Сумки и чехлы</span></a></li>
              <li><a href="#"><span>Объективы, оптика, вспышки</span></a></li>
              <li><a href="#"><span>Штативы</span></a></li>
              <li><a href="#"><span>Фотоальбомы</span></a></li>
              <li><a href="#"><span>Фоторамки</span></a></li>
              <li><a href="#"><span>Средства для ухода за оптикой</span></a></li>
              <li><a href="#"><span>Элементы питания</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span>Подарочные карты</span></a></li>
        </ul> 
      </li>
      <li><a href="#"><span>Красота и здоровье</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Автомобильная электроника</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Игры, софт, развлечения</span></a>@@include('_navigator_sub.html')</li>
      <li><a href="#"><span>Аксессуары</span></a>@@include('_navigator_sub.html')</li>
    </ul>
  </div>
</div>