<div class="news container ctext">
	<div class="row">
		<div class="col-sm-3">
			<h3>Новости</h3>
			<div class="news-item">
				<p><small>28 февраля 2015</small></p>
				<h4><a href="#">Новинка от SAMSUNG! Изогнутый монитор 34" S34E790C!</a></h4>
			</div>
			<div class="news-item">
				<p><small>20 февраля 2015</small></p>
				<h4><a href="#">Вместе дешевле: скидка 50% при доставке двух заказов!</a></h4>
			</div>
			<div class="news-item">
				<p><small>11 февраля 2015</small></p>
				<h4><a href="#">Оформи предзаказ на Xbox One и получи две игры в подарок!</a></h4>
			</div>
			<a href="#" class="btn btn-default btn-sm">Все новости</a>
		</div>
		<div class="col-sm-9">
			<h2>О магазине</h2>
			<p>Сайт, торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку, выбрать способ оплаты и доставки заказа в сети Интернет. Выбрав необходимые товары или услуги, пользователь обычно имеет возможность тут же на сайте выбрать метод оплаты и доставки.</p>
			<p>Основное отличие Интернет-магазина от традиционного — в типе торговой площадки. Обычному магазину нужен торговый зал, витрины, ценники, а также продавцы, кассиры и опытные консультанты, у онлайн-магазина же вся инфраструктура реализована программно. Другими словами, Интернет-магазин — это совокупность программ, работающих на Web-сайте, которые позволяют покупателю дистанционно выбрать товар из каталога и оформить его заказ. </p>
			<p>Функции витрины и торгового зала выполняют «страницы» с иллюстрированным каталогом товаров, а </p>
			<p>консультантов — подсказки, инструкции и описания. Все остальное — как в обычном магазине. Даже в интерфейсе Интернет-магазина сохраняются привычные элементы, например виртуальная «тележка» («корзина»), куда мы по пути к кассе складываем выбранные товары.</p>
		</div>
	</div> 
</div>