<div class="col-sm-12 product-item"> 
	<div class="col-sm-3 product-item-image">
		<a href="#"><img src="img/@@img" alt=""></a><span class="vfix"></span>
		<div class="product-item-labels @@hidden">
			<span class="label label-success">Акция</span>
			<span class="label label-warning">Хит продаж</span>
			<span class="label label-primary">Новинка</span>
		</div>
	</div>
	<div class="col-sm-9 col-md-7 product-item-text"> 
		<h5><a href="#">@@name</a></h5> 
		<p>Сверхкомпактный ноутбук в прочном алюминиевом корпусе размером с глянцевый журнал.</p>
		<div class="product-item-info">
			<div>Артикул: <em>12345678</em></div>
			<div>Оценка покупателей: <div class="product-item-rate"><div class="rating" data-rating="3"></div> <a href="#">(3)</a></div></div>
		</div> 
	</div>
	<div class="col-sm-2 product-item-last">
		<div class="product-item-price">@@price</div>
		<a href="#" class="button button-small">В корзину</a>
		<div class="product-item-compares"> 
			<div class="product-item-compare">
				<a href="#"><i class="sprite icon-compare-active"></i><span>К сравнению</span></a>
			</div>
			<div class="product-item-compare">
				<a href="#"><i class="sprite icon-heart-active-middle"></i><span>Отложить</span></a>
			</div>
		</div>
	</div>
</div>