.footer{
	&-main{
		background: $headfooterColor;
		padding: 35px 0 18px 0;
	}
	ul{
		li{
			margin-bottom: 11px;
			max-width: 90%;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				color: $footerLink;
				text-decoration: underline; 
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	&-copyright{    
		padding: 24px 0 24px 0;
		p{
			color: $ctextLigthColor; 
			margin-bottom: 1px;
		}
	}
	&-smenu{
		&-inner{
			border-bottom: 1px solid #e3e3e3;
			padding: 24px 0 26px 0;
		}
		a{
			text-decoration: underline;
			color: $baseColor;
			@extend %inline-middle;
			margin-right: 18px;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.socials{
		font-size: 0;
		text-align: right;
	}
}