.header{
	&-phone{
		color: #fff;
		padding: 10px 0 5px;
		a{
			color: #fff;
			@extend %inline-middle;
			border-bottom: 1px dotted #fff;
			line-height: 13px;
			&:hover{
				border-color: transparent;
			}
		}
		p{
			font-size: 16px;
			margin-bottom: 1px;
			line-height: 22px;
			b{
				font-size: 24px;
				font-weight: bold; 
			}
		}
	}
	&-top{
		background: $headfooterColor;
		@media (max-width: $container-sm){
			.xs-clear{
				padding: 0 0;
			}
		}
	}
	&-detail{
		float: right;
		border-left: 1px solid #404040;
		padding: 0 10px;
		line-height: 61px;
	    text-align: center;
		@media (max-width: $container-sm){
			line-height: 41px;
		    text-align: center;
		   // padding: 0 0;
		}
		&-inner, a{
			color: #fff;
			text-decoration: none;	
		    text-align: center;		
		}
		&:first-child{
			border-right: 1px solid #404040;
		}
		&.disable{
			.header-detail-inner, a{				
				color: #969696; 
			}
			.header-detail-count{
				background: $labelDisableColor;
			}
		}
		span{
			@extend %inline-middle;
		}
		i{
			margin-right: 9px;

			@media (max-width: $container-sm){
				margin-right: 4px;
			}
		}
		&-count{	
			background: $labelColor;	
			width: 34px;
			height: 21px;
			line-height: 21px;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
			border-radius: 3px;
			text-align: center;
			margin: 0 3px;
		}
		&.compare{
			&.disable{
				i{
					@extend .icon-compare;
				}
			}
		}
		&.postpone{
			&.disable{
				i{
					@extend .icon-heart-disable-big;
				}
			}
		}
		&.basket{
			&.disable{
				i{
					@extend .icon-basket-disable;
				}
			}
		}
		&-title{
			@media (max-width: $container-md){
				display: none !important;
			}
		}
	}
	&-main{
		padding-top: 24px; 
	}
	&-logo{
		display: block;
		margin-bottom: 15px; 
	}
	&-setting{
		@extend %clear;
		border-bottom: 1px solid #e3e3e3;
		padding: 9px 0 16px 0; 
	}
	&-authorization{
		a{
			color: $baseColor;
			@extend %inline-middle;
			border-bottom: 1px dotted $baseColor;
			line-height: 14px;
			margin: 0 2px;
			&:hover{
				border-color: transparent;
			}
		}
	}
	&-search{
		@extend %clear;
		margin-bottom: 30px;
		&-field{
			input[type="text"]{
				float: left;
				width: calc(100% - 135px);
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding: 0 10px 0 44px;
			}
			.button{
				float: right;
				width: 135px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				z-index: inherit;
			}
			i{
				position: absolute;
				top: 14px;
				left: 19px;
			}
		}
	}
	&-menu{   
		position: relative;
		z-index: 2;
		margin-bottom: 10px;
		&-mobile{
			position: absolute; 
		    top: 30px;
		    right: 15px;
		    z-index: 2;
			display: none;
		    @media (max-width: $container-sm){
		    	display: block;
		    }
			&-title{
				background: #fff;
				float: right;
				padding: 13px 8px;
				position: relative;
				cursor: pointer;
				i{
					margin-left: 5px;
				}
				&.active{
					box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
					border-radius: 6px;	
					i{
						@extend .icon-arrow-up;
					}				
				}
				&:after{
				    content: '';
				    position: absolute;
				    bottom: -5px;
				    left: 0px;
				    right: 0px;
				    height: 10px;
				    background: #fff;
				} 
			}
			ul{
				background: #fff;
				box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
				border-radius:6px;	
				border-top-right-radius: 0;
				clear: both;
				padding: 15px 8px;
				max-width: 150px;
				float: right;
				li{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0; 
					}
					a{
						color: $baseColor;
					}
				}			
			}
		}
		.navbar{
			margin-bottom: 0;
		}
		ul{
			display: table;
			width: 100%;
			li{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				a{
					text-decoration: none;
					color: $baseColor;
					font-size: 14px;
					line-height: 26px; 
					padding: 10px 26px;
				}
				i{

				}
				&.active,
				& a:hover{ 
					text-decoration: underline;
				}
				&:first-child{
					text-align: left;
				}
				&:last-child{
					text-align: right;
				}
			}
		}
		&.hidden-menu{
			position: absolute;
		    top: 100%;
		    margin-top: -7px;
		    background: #fff;
		    width: calc(100% + 2px); 
		    ul{
		    	li{
		    		text-align: left !important;
		    		@media (max-width: $container-md){
						display: block !important;
					}
		    		a{
		    			padding: 0px 10px;
			    		@media (max-width: $container-md){
							padding-left: 0 !important;
						}
	    			}
		    	}
		    }
		}	

	    .hidden-menu-toggle.active{ 
	    	i{
		    	@extend .sprite;
		    	@extend .icon-arrow-up; 
		    }
	    } 
	}
}