$nav-max-w: 100%;
.navigator{
	position: relative;
	z-index: 3;

	&:hover{
		&>ul{
			display: block;
		}
	}
	&-toggle{
		position: relative;
		z-index: inherit;
		max-width: $nav-max-w;
	}
	ul{
		white-space: normal;
		li{
			a{
				color: $baseColor;
				font-weight: normal;
				text-shadow: none;	
				text-align: left;
				display: inline-block;		
			}
		}
	}
	&>ul{ 
		display: none;
		z-index: -1;
		border-radius: 4px;
		position: absolute;
		top: 40;
		left: 0;
	    padding-top: 10px;
		width: $container-md - $grid-gutter-width; 
		padding-bottom: 13px;
		@media (min-width: $container-lg){
			width: $container-lg - $grid-gutter-width; 
		}
		@media (max-width: $container-sm){
		}
		&:after{
			content: '';
			background: #fff;
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
			border-radius: 4px;
		    border-top-right-radius: 0;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		    width: calc(25% - 21px);
			max-width: $nav-max-w;
		}
		&>li{
			@extend %clear;
			&:hover{
				ul{
					display: block;
				}					
		    	span{
		    		border-color: transparent;
		    	}
		    	&>a{
		    		color: $labelColor;
		    		&:before{
			    		content: '';
			    		top: 0;
			    		right: -10px;
			    		width: 20px;
			    		height: 100%;
			    		background: #fff;
			    		position: absolute;
			    		z-index: 2;
			    	}
		    	}
			}
			&>a{
				position: relative;
				z-index: 2;
				line-height: 19px;
				border-bottom: 1px dotted #e3e3e3;
				padding: 5px 20px;
			    width: calc(25% - 21px);
				max-width: $nav-max-w;
			    span{
			    	display: inline;
			    	line-height: 14px;
			    	border-bottom: 1px dotted #333333;
			    }
				&:after{
					content:'';
					@extend .sprite;
					@extend .icon-arrow-small;
					position: absolute;
				    top: calc(50% - 2px);
					right: 10px;
				}
			}
			&:last-child a{
				border-color: transparent;
			}
			&>ul{
				display: none;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0; 
				background: #fff;
				border-radius: 4px;
				padding-left: calc(25% + 30px);
				padding-top: 14px;
				padding-bottom: 18px;
				padding-right: 25px;
				text-align: left;
				column-count: 3;	
				&:after{
					content: '';
					@extend %full;
					box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
					border-radius: 4px;
				}
				&>li{
					display: block;
					margin-bottom: 11px; 
					padding-right: 5px;
					&.hasSub{
						margin: 31px 0 9px; 
					}
					&>a{
						font-weight: bold;    
						line-height: 19px;
						display: block;
					}
					a{
						display: block;   
						line-height: 19px;
						position: relative;
						z-index: 2;
						span{
							text-decoration: underline;
						}
						&:hover{
							span{
								text-decoration: none;
							}
						}
					}
					ul{
						li{
							margin-bottom: 1px;
						}
					}
				}
			}
		}
	}
}