.main-slider{
	overflow: hidden;
	.slider-img{
		height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}
	.slider-text{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.container{
			height: 100%;
		}
		.button{
			bottom: 113px;
			left: 94px;
			position: absolute;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			width: 206px;
		}
	}
	.slick-slide{
		outline: none;
	}
}